CompileFlags:
  Compiler: /usr/bin/g++
  CompilationDatabase: ./target/megaton/none/
  Remove: [ -march=*, -mtune=*, -mtp=* ]
Diagnostics:
  Suppress: 
    - mismatched_exception_spec
    - -Wunknown-pragmas
