[submodule "botw"]
	path = libs/botw
	url = https://github.com/Pistonight/botw-decomp
	branch = dev
[submodule "botw-symbols"]
	path = libs/botw-symbols
	url = https://github.com/Pistonight/botw-symbols
	branch = main
[submodule "nnheaders"]
	path = libs/nnheaders
	url = https://github.com/Pistonight/nnheaders
	branch = dev
[submodule "sead"]
	path = libs/sead
	url = https://github.com/Pistonight/sead
	branch = dev
