[submodule "botw"]
	path = libs/botw
	url = https://github.com/Pistonight/botw-decomp
	branch = master
[submodule "botw-symbols"]
	path = libs/botw-symbols
	url = https://github.com/Pistonight/botw-symbols
	branch = main
[submodule "nnheaders"]
	path = libs/nnheaders
	url = https://github.com/open-ead/nnheaders
	branch = master
[submodule "sead"]
	path = libs/sead
	url = https://github.com/open-ead/sead
	branch = master
[submodule "exlaunch"]
	path = libs/exlaunch
	url = https://github.com/Pistonight/exlaunch
	branch = dev
